

body {
    margin: 0;
    background: #111;
    color: #fff;
    font-family: sans-serif;
    padding-top: 100px;
}


.reader-header {
    position: fixed;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: #000;
    color: white;
    padding: 15px 20px;
    border-radius: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); 
    z-index: 999;
    width: 90%;
    max-width: 900px;
}


    .comic-pages img {
        width: 100%;
        max-width: 800px;
        display: block;
        margin: 20px auto;
    }

    a {
        color: #61dafb;
        text-decoration: none;
    }

    .chapter-navigation {
        display: flex;
        justify-content: center;
        gap: 15px;
        /* margin-top: 40px; */
        margin-bottom: 50px;
    }

    .chapter-navigation a {
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    }

    .chapter-navigation a:hover {
        background-color: #666;
    }

  


